<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{config.productName}}">
	
	<title>{{config.productName}}</title>
	<link rel="stylesheet" href="css/main.css">
	{% block css %}{% endblock %}
</head>
<body>
	{% block content %}
	{% endblock %}
	
	<footer class="footer">
		<a href="http://github.com/umaar/postcode-checker">Code on GitHub</a>
	</footer>
	
	{% block js %}{% endblock %}
</body>
</html>
