<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{config.productName}}">
	<link rel="icon" type="image/jpeg" href="favicon.png" />
	
	{% if title %}
		<title>{{ title }} - {{config.productName}}</title>
	{% else %}
		<title>{{config.productName}}</title>
	{% endif %}
	<link rel="stylesheet" href="css/main.css">
	{% block css %}{% endblock %}
</head>
<body>
	{% block content %}
	{% endblock %}
	
	<footer class="footer">
		<a href="http://github.com/umaar/postcode-checker">Code on GitHub!!</a>
	</footer>
	
	<script type="module" async src="js/main.js"></script>
	{% block js %}{% endblock %}
	
</body>
</html>
