{% extends '_base.html' %} {% block title %}{% endblock %} {% block content %}

<div class="container">
	{% if message %}
	<p class="message">{{message}}</p>
	{% else %}
	<p class="main-instruction">Please enter a postcode</p>
	{% endif %}

	<form method="GET" action="/">
		<label for="postcode">Postcode:</label>
		<input
			type="text"
			id="postcode"
			name="postcode"
			placeholder="Enter a postcode (W2 2SZ)"
			autofocus
			required
			minlength="{{config.postcodeValidationMinLength}}"
			maxlength="{{config.postcodeValidationMaxLength}}"
		/>
		<input type="submit" value="Submit" />
	</form>

	<p class="info">
		Use this form to find out whether a postcode is allowed or not.
	</p>

	{% if recentSearches %}
	<div class="recent-searches">
		<h2>Recently Searched Postcodes</h2>
		<ul>
			{% for search in recentSearches %}
			<li><a href="/?postcode={{ search.postcode }}">{{ search.postcode }}</a> - searched {{ search.searchTime }}</li>
			{% endfor %}
		</ul>
	</div>
	{% endif %}
</div>

{% endblock %}
